.admin_ctf_create_container {
  margin-left: 5vw;
  color: #ffffff;
}

.admin_ctf_sub_container {
  min-width: 530px;
}

.admin_ctf_create_title {
  margin-left: 50px;
}

.admin_ctf_create_container_2 {
}

.admin_ctf_create_title_2 {
  padding-top: 20px;
  margin-left: 50px;
  border-bottom: 1px solid #323232;
  padding-bottom: 5px;
  min-width: 600px;
  max-width: 800px;
}

.admin_ctf_create_cover_img {
  margin-left: 50px;
  padding-left: 20px;
  max-width: 300px;
}

.admin_ctf_create_img_input_container {
  display: flex;
}

.admin_ctf_create_info_container {
  margin-left: 10px;
}

.admin_ctf_create_input_container {
  display: flex;
  background-color: #242424;
  padding: 15px;
  border-radius: 10px;
}

.admin_ctf_create_input_txt {
  color: #747474;
}

.admin_ctf_create_input {
  background-color: transparent;
  color: #747474;
  border: none;
  text-align: right;
  min-width: 180px;
}

.admin_ctf_create_input_box {
  display: grid;
  grid-template-rows: repeat(
    2,
    minmax(0, 1fr)
  ); /* 두 개의 같은 크기 행으로 설정 */
  grid-template-columns: repeat(
    2,
    minmax(0, 1fr)
  ); /* 두 개의 같은 크기 열로 설정 */
  gap: 10px; /* 요소 사이의 간격 설정 */
}

.admin_ctf_create_des_container {
  margin-left: 10px;
  padding-top: 10px;
}

.admin_ctf_create_des_input {
  width: 90%;
  min-width: 390px;
  color: #747474;
  background-color: #242424;
  border: none;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
}

.admin_ctf_create_btn_container {
  display: flex;
  margin-left: 345px;
  margin-top: 20px;
}

.admin_ctf_create_btn_go_back {
  background-color: transparent;
  border: 1px solid #b2b2b2;
  color: #ffffff;
  border-radius: 7px;
  padding: 10px;
  width: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.admin_ctf_create_btn_next {
  width: 100px;
  border: none;
  border-radius: 7px;
  background-color: #3c6ef0;
  color: #ffffff;
  cursor: pointer;
}
