.ctf_problem_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;

  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.ctf_problem_title {
  font-size: x-large;
  color: #ffffff;
}
