.home_wrapper {
  padding: 50px;
}

.home_text {
  color: #ffffff;
  font-weight: bolder;
  font-size: 33px;
  padding-left: 5vw;

  cursor: pointer;
}

.wargame_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
}

.box1 {
  border: 1px solid #8098bc; /* 테두리 추가 */
  border-radius: 16px;
  width: 32vw;
  max-width: 400px;
  min-width: 200px;
  height: 350px;
  margin-right: 20px;
}

.box2 {
  border: 1px solid #4facfe; /* 테두리 추가 */
  border-radius: 16px;
  width: 32vw;
  max-width: 400px;
  min-width: 200px;
  height: 350px;
  margin-right: 20px;
  background-color: #323232;
}

.box3 {
  border: 1px solid #4facfe; /* 테두리 추가 */
  border-radius: 16px;
  width: 32vw;
  max-width: 400px;
  min-width: 200px;
  height: 350px;
  margin-right: 20px;

  background-image: url("../assets/box3_background.png");
  background-size: cover;
  background-position: center;
}

.box4 {
  border: 1px solid #000000; /* 테두리 추가 */
  border-radius: 16px;
  width: 32vw;
  max-width: 400px;
  min-width: 200px;
  height: 350px;

  background-image: url("../assets/box4_background.png");
  background-size: cover;
  background-position: center;
}

.wargame_text_area {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  flex-direction: column;
}

.present_logo {
  width: 50px;
}

.wargame_category {
  padding-top: 10px;
  color: #ffffff;

  font-weight: bolder;
  font-size: 21px;
}
