.signup_title {
  color: white;
  margin-left: 30px;
}

.signup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 100px;
}

.signup_rectangle {
  padding: 20px;
  width: 30vw;
  height: auto;
  border-radius: 20px;
  border: 0.5px solid #8098bc;
}

.confirm_password_text {
  margin-left: 50px;
  color: #ffffff;
  font-weight: bold;
}

.input_container {
  display: flex;
  flex-direction: column;
}

.signup_username_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.signup_pw_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.signup_confirm_pw_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input_confirm_password {
  width: 80%;
  margin-top: 20px;
  padding: 5px;
  padding-left: 20px;
  height: 40px;

  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #495057;
}

.signup_button_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_input_id {
  margin-top: 20px;
  padding: 5px;
  padding-left: 20px;
  width: 80%;
  height: 40px;

  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #495057;
}

.signup_button_2 {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background-color: #3c6ef0;
  color: #ffffff;
  border: 1px solid #8098bc;
  margin-top: 30px;
  margin-bottom: 30px;
}
