.signup_title {
  color: white;
  margin-left: 30px;
}

.signup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 100px;
  color: #ffffff;
}

.signup_rectangle {
  padding: 20px;
  width: 30vw;
  height: auto;
  border-radius: 20px;
  border: 0.5px solid #8098bc;
}

.confirm_password_text {
  margin-left: 50px;
  color: white;
  font-weight: bold;
}

.input_container {
  display: flex;
  flex-direction: column;
}

.input_container_step_2 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.signup_username_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.signup_pw_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.signup_confirm_pw_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input_confirm_password {
  width: 80%;
  margin-top: 20px;
  padding: 5px;
  padding-left: 20px;
  height: 40px;

  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #495057;

  color: white;
}

.signup_button_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_input_id {
  margin-top: 20px;
  padding: 5px;
  padding-left: 20px;
  width: 80%;
  height: 40px;

  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #495057;
  color: white;
}

.signup_button_2 {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background-color: #3c6ef0;
  color: #ffffff;
  border: 1px solid #8098bc;
  margin-top: 30px;
  margin-bottom: 30px;
}

.signup_name_input {
  margin-bottom: 20px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 40px;

  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #495057;
  color: white;
}

.signup_birthdate_input {
  margin-bottom: 20px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 40px;

  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #495057;
  color: white;
}

.signup_phone_input {
  margin-bottom: 20px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 40px;

  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #495057;
  color: white;
}

.signup_email_input {
  margin-bottom: 20px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 40px;

  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #495057;
  color: white;
}

.name_text {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
}

.birthdate_text {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
}

.phone_text {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
}

.email_text {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
}

.gender_text {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
}

.radio-group {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

/* 기본 라디오 버튼 숨기기 */
.signup_input_male,
.signup_input_female {
  display: none;
}

/* 커스텀 라디오 버튼 스타일 */
.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 8px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.radio-button::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3c6ef0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.signup_input_male:checked + .custom-radio .radio-button::after,
.signup_input_female:checked + .custom-radio .radio-button::after {
  opacity: 1;
}

.signup_success_container {
}

.signup_success_btn_container {
  display: flex;
  justify-content: center;
}

.signup_success_text_container {
  margin-left: 30px;
  padding: 10px;
}

.signup_success_button {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background-color: #3c6ef0;
  color: #ffffff;
  border: 1px solid #8098bc;
  margin-top: 30px;
  margin-bottom: 30px;
}

.signup_next_button {
  width: 40%;
  height: 40px;
  border-radius: 5px;
  background-color: #3c6ef0;
  color: #ffffff;
  border: 1px solid #8098bc;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.signup_previous_button {
  width: 40%;
  height: 40px;
  border-radius: 5px;
  background-color: #3c6ef0;
  color: #ffffff;
  border: 1px solid #8098bc;
  margin-top: 30px;
  margin-bottom: 30px;
}

.signup_birthdate_input::-webkit-calendar-picker-indicator {
  filter: invert(1); /* 아이콘을 흰색으로 변환 (웹킷 브라우저) */
}

.status_img_container {
  display: flex;
  justify-content: center;
}

.signup_status_1 {
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup_status_2 {
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup_status_3 {
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
}
